.add__todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}

.input__todo {
  width: calc(100% - 32px);
  border: none;
  outline: none;
  padding: 0 12px;
  border-radius: 0.2rem;
}
.add__button {
  color: var(--primary-color);
}
