.box {
  width: 400px;
  background-color: var(--box-color);
  padding: 2rem;
  border-radius: 1rem;
  transition: background-color 0.4s;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.change-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--box-color);
}
.change-theme:hover {
  color: #a8a8a8;
}

/* Light Theme */
.light-theme .change-theme {
  color: var(--body-color);
}
.light-theme .change-theme:hover {
  color: rgb(87, 87, 87);
}
