:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --normal-font-size: 0.938rem;

  --primary-color: rgb(9, 134, 255);
  --secondary-color: rgb(211, 94, 94);
  --body-color: hsl(0, 0%, 15%);
  --box-color: hsl(0, 0%, 20%);
  --text-color: hsl(219, 8%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body,
button,
input {
  font-size: var(--normal-font-size);
}

body {
  min-height: 100vh;
}

button,
input {
  height: 2.5rem;
}

#root {
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: rgb(103, 103, 103);
}

li {
  list-style-type: none;
}

button i {
  font-size: 1.3rem;
}
span {
  margin-bottom: 0 !important;
}

/* Light Theme */
.light-theme {
  --body-color: hsl(0, 0%, 90%);
  --box-color: hsl(0, 0%, 80%);
  --text-color: hsl(0, 0%, 50%);
}
